.footer {
    background-color: #192427;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}


p{
    color: #FFF;
    font-weight: 70;
    font-size: 20px;
}