.header {
    background: linear-gradient(90.3deg, #ECEBE9 3.08%, #F5F5F5 99.09%);

    height: 70px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--dark--gray);
    background: none;
    border: none;
    margin-inline: 20px;

    cursor: pointer;
}
a:hover{
    color: var(--blue);
}
.login_class{
    font-weight: 700;
}
span{
    background-color: #000;
    width: 4px;
    height: 4px;
    left: 6px;
    border-radius: 10px;
}

.button{
    width: 180px;
    height: 46px;
    background: var(--blue);
    border-radius: 10px;
    border: none;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: 900;
    color: var(--white);
}
.button:hover{
    background-color: var(--gray-200);
    color: var(--blue);
    border: 1px solid var(--blue);
    transition: 0.5s;

}

