.btn_pets{
    width: 100%;
    display: flex;
    text-align: center!important;
    background-color: transparent!important;
    color:#175EA8!important;
    border-color: #175EA8!important;
    border-radius: 0!important;
}

.btn_pets:hover{
    color: #FFF!important;
    background-color: #175EA8!important;
}

.btn_detalhar{
    display: flex;
    text-align: center!important;
    background-color: transparent!important;
    color: #002E78!important;
    border-color: #175EA8!important;
    border-radius: 0!important;
}

.img_detalhar{
    max-width: 250px;
    margin: 0 auto;
    border: solid 1px #002E78;
    padding: 0.5rem;
    border-radius: 0!important;
    margin: 1rem;
 }

 .conteudo_detalhar{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-top: 1rem;
 }
 
 .modal_header{
    align-items: flex-start!important;
 }

 .body_detalhar{
    display: flex;
    flex-direction: column;
    justify-content:flex-start
 }

 .body_conteudo{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 0!important;
 }