a.title_pets{
    display: flex;
    width: fit-content;
    background-color: #175EA8;
    border-radius: 0 25px 25px 0;
    margin-block: 2rem;
}

.title_pets h1{
    display: flex;
    width: 10rem;
    margin-left: 150px;
}

.card_pets{
    width: 284px;
    height: 100px;
    display: inline-flex!important;
    background: #F4F4F4!important;
}
.card_pets:hover{
    box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.25);
    transition: 0.6s;
}

.img_pets{
    max-width: 240px;   
    margin: 0 auto;
    border: solid 1px #002E78;
    padding: 0.5rem;
    border-radius: 0!important;
    margin: 1rem;
    margin-left: 20px;
}
.img_pets_servico1{
    max-width: 220px;
    margin: 0 auto;
    border: solid 1px #002E78;
    padding: 0.5rem;
    border-radius: 0!important;
    margin: 1rem;
    margin-left: 25px;

}

.name_pets{
    margin-top: -40px;
    margin-inline: auto;
    border-radius: 25px;
    padding: .5rem 2.5rem;
    color: #FFF;
    background-color: #002E78;
}

.name_pets span{
    background-color: transparent;
}

.description_pets{
    color: #000;
    text-align: start;
}

.description_pets > span{
    display: flex;

    width: 100%;
}
.description_pets > span > strong{
    margin-right: 8px ;
}


.button{
    height: 50px;
    width: 170px;
    margin-top: 10px;
    color: var(--blue);
    border-color: var(--blue);
    cursor: pointer;
    background-color: var(--gray--100);
    padding: 5px;
    margin-bottom: 13px;
}

.button:hover{
    background: var(--blue);
    color: var(--white);
    transition: 0.5s;
}
.seta_esq{
    background-color: #000!important;
    margin-right: 20px!important;
}
.carousel_pets{
    padding-block: 2rem;
}

.carousel-indicators [data-bs-target]{
    background-color: #000;
}
.indicators_pets button{
    background-color: #666!important;
}
.indicators_pets button.active{
    background-color: #175EA8!important;
}