.home_class{
    color: var(--white);
    font-weight: 700;
}
.carrousel_pai{
    background-image: url('../../assets/fundo1.jpeg');
    background-repeat:no-repeat;
    background-size:cover;

}

.div_carousel{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    min-height: 65vh;
    align-items: center;
    justify-content: center; 
    /* background-color: var(--white); */
    /* display: flex; */
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

.inner_carousel{
    display: flex;

}

.item_carousel{
    min-height: 100px;
    min-width: 200px;
    padding-inline: 18px;
}

.item_caurosel img{
    width: 20%;
    height: 20%;
    border-radius: 12px;
    pointer-events:none;
}

img{
    width: 220px;
}